@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.dbalance {
  display: flex;
  margin-top: 1%;
}
.db1 {
  margin-left: 30%;
  width: 20%;
  background-color: rgb(105, 98, 98);
}
.db2 {
  margin-right: 30%;
  width: 20%;
  background-color: rgb(233, 221, 221);
}
.principal {
  display: flex;
}
.p1 {
  margin-left: 5%;
  width: 45%;
  background-color: rgb(194, 77, 77);
}
.p2 {
  width: 45%;
  margin-right: 5%;
  background-color: rgb(133, 133, 229);
}

.p3 {
  width: 90%;
  margin-left: 5%;
  background-color: rgb(161, 221, 161);
}
